body {
text-align: center;
}

h1 {
    color: #c52541;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
}


p {
line-height: 21px;
font-size: 0.8em;
}

h2 {
color: #c52541;
font-size: 1em;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;
}

